<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="static/contact.css">
  <link rel="stylesheet" href="static/new.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% comment %} mdn kit {% endcomment %}


  <title>Virtula Kirana Store</title>

  <style>
    nav{
      background-color: #8FCE00;
    }
    .one-edge-shadow {
              box-shadow: 0 8px 2px -5px rgb(246, 245, 245);
}
.display-8{
  font-weight: 200;
  font-size: 30px;
  font-colour: $teal-200;
}
  </style>
</head>

<body>
  <!-- navbar -->

<nav class="one-edge-shadow
  navbar navbar-light
  sticky-top navbar 
  navbar-expand-lg
  text-white">
    <a class="navbar-brand ms-3 text-dark " href="/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png" style="width:50px;height:50px,color:text-light;"> Virtual Kirana Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          
          <a class="nav-link" href="/store">(Hurry up get Delivery in 30 min)<span class="sr-only">(current)</span></a>
        </li>

          </ul>




      <ul class=" navbar-nav my-2 my-lg-0">

        <li class="nav-item active">
          <a class="nav-link" href="/cart">Cart 
            <span class="badge badge-success">{{request.session.cart.keys|length}}</span>
            <span class="sr-only">(current)</span></a>
        </li>

        {% if request.session.customer %}
        
        <li class="nav-item active ">
          <a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link" href="#">User<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item active ">
          <a class="nav-link" href="contact">Contact us <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
       
        <li class="nav-item active">
          <a class="nav-link" href="/signup">Signup<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link" href="contact">Contact us <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}


      </ul>


    </div>
  </nav>
  <!---->
  {% block content %}{% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <div>
    
</body>
{% comment %} <footer class="ct-footer">
  <div class="container-fluid">
    <form name="contentForm" enctype="multipart/form-data" method="post" action="">
      <div class="ct-footer-pre text-center-lg">
        <div class="inner">
          <span>Join WebCorpCo to receive updates, news & events!</span>
        </div>
        <div class="inner">
          <div class="form-group">
            <input name="formfields[nl_email]" id="nl_email" class="validate[required]" placeholder="Enter your email address" type="text" value=""> <label for="nl_email" class="sr-only">Email Address</label> <button type="submit" class="btn btn-motive">Join</button>
          </div>
        </div>
      </div>
    </form>
        
        <h2 class="ct-footer-list-header">About</h2>
        <ul>
          <li>
            <a href="">FAQ</a>
          </li>
          <li>
            <a href="">Our Board</a>
          </li>
          <li>
            <a href="">Our Staff</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
        </ul>
      </li>
    </ul>
   
      <div class="inner-right">
        <p>Copyright © 2016 WebCorpCo.&nbsp;<a href="">Privacy Policy</a></p>
        <p><a class="ct-u-motive-color" href="" target="_blank">Web Design</a> by DigitalUs on <a href="" target="_blank">Solodev CMS</a></p>
      </div>
    </div>
  </div>
</footer> {% endcomment %}

</html>