{% extends 'base.html' %}
{%load static%}
{% block content %} 
<!--Section: Contact v.2-->
<div class="container" my="4" py="4">
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="contact" method="POST">
                {%csrf_token %}
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Name</label>
                            <input type="text" id="name" name="name" class="form-control"  required>
                            
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class=""> Email</label>
                            <input type="text" id="email" name="email" class="form-control"  required>
                            
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                {% comment %} <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                            
                        </div>
                    </div>
                </div> {% endcomment %}
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Message</label>
                            <textarea type="text" id="message" name="msg" rows="2" class="form-control md-textarea"></textarea required>
                            
                        </div>

                    </div>
                </div>
                <!--Grid row-->

                <br>
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    {% comment %} <div class="col-md-12">

                        <div class="md-form">
                            <label for="file">Upload Image (Optional)</label>
                            <input type="file" id="file" name="msg" rows="2" class="form-control md-">
                            
                        </div>

                    </div> {% endcomment %}
                </div>
                <!--Grid row-->
<br>
           

            <div class="text-center text-md-left">
                <div class="container" ><a class="btn btn-primary"  onclick="document.getElementById('contact-form').submit();">Send</a>
            </div></div>
            <div class="status"></div>
        </div> </form>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p><a href="https://www.google.com/maps/place/Laxmi+Nagar,+Block+S1,+Nanakpura,+Shakarpur,+New+Delhi,+Delhi+110092/@28.6275489,77.2697558,15z/data=!3m1!4b1!4m5!3m4!1s0x390ce35319b6a7ff:0x127dca80423ad527!8m2!3d28.6275609!4d77.2784081" target="_blank">laxmi Nagar, Delhi-110092,INDIA</a> </p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p><a href="tel:+917834864894">+91 7834864894</a></p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p><a href="mailto:vks@gmail.com">vks@gmail.com</a></p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
</div>

<!--Section: Contact v.2-->





{% endblock %}